{
  "CN": "system:kube-controller-manager",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [{
        "C": "{{ pki.ca.country }}",
        "L": "{{ pki.ca.city }}",
        "O": "system:kube-controller-manager",
        "OU": "{{ pki.ca.organizationUnit }}",
        "ST": "{{ pki.ca.province }}"
    }]
}
